* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
body {
  font-family: "Montserrat", sans-serif;
  background: #1b262c;
}
header {
  display: flex;
  flex-wrap: wrap;
  padding: 20px 0;
  justify-content: space-between;
  background: #121212;
}

.list,
.logo,
.Button {
  margin: 20px 10px;
  padding: 0 50px;
  color: white;
}
@media (max-width: 1080px) {
  .logo {
    margin-left: 25.6%;
  }
}
.list li {
  list-style: none;
  padding: 0px 20px;
  display: inline-block;
  color: white;
}
a {
  text-decoration: none;
  color: white;
}
.Button {
  background: #0f4c75;
  border-radius: 40px;
  padding: 4px 15px;
  margin-right: 70px;
}
@media (max-width: 1080px) {
  .Button {
    margin: 10px 70px 0 35.6%;
  }
}
.Button:hover {
  color: #bbe1fa;
  cursor: pointer;
  transform: scale(1.1);
  transition: all 0.2s ease-in;
}
.logo:hover {
  color: #99aab5;
  transform: scale(1.1);
  transition: all 0.5s ease;
  cursor: pointer;
}
a:hover {
  color: #99aab5;
  cursor: pointer;
}

.container1,
.container2 {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  padding: 50px 10px;
}
.card {
  background: #121212;
  padding-bottom: 40px;
  margin: 20px 10px;
  width: 400px;
  border-radius: 30px;
}
.card-title {
  color: #fff;
  padding: 30px;
}
.card-content {
  font-family: "Roboto", sans-serif;
  font-weight: 300;
  color: #aaaaaa;
  padding: 10px 30px;
  line-height: 2;
}
.card:hover {
  cursor: pointer;
  background-color: #0f4c75;
  transform: scale(1.03);
  transition: all 0.5s ease;
}

.card-img {
  height: 300px;
  border-radius: 30px 30px 0 0;
}
.img1 {
  background-image: url("https://images.pexels.com/photos/4065876/pexels-photo-4065876.jpeg?auto=compress&cs=tinysrgb&h=650&w=940");
  background-size: cover;
}
.img2 {
  background-image: url("https://images.pexels.com/photos/262438/pexels-photo-262438.jpeg?auto=compress&cs=tinysrgb&h=650&w=940");
  background-size: cover;
}
.img3 {
  background-image: url("https://images.pexels.com/photos/355952/pexels-photo-355952.jpeg?auto=compress&cs=tinysrgb&h=650&w=940");
  background-size: cover;
  background-position: center;
}
.img4 {
  background-image: url("https://images.pexels.com/photos/3243/pen-calendar-to-do-checklist.jpg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940");
  background-size: cover;
  background-position: center;
}
.img5 {
  background-image: url("https://images.pexels.com/photos/301703/pexels-photo-301703.jpeg?auto=compress&cs=tinysrgb&h=650&w=940");
  background-size: cover;
  background-position: center;
}
.img6 {
  background-image: url("https://images.pexels.com/photos/3771097/pexels-photo-3771097.jpeg?auto=compress&cs=tinysrgb&h=650&w=940");
  background-size: cover;
  background-position: center;
}
.buttons {
  font-family: "Lexend Deca", sans-serif;
  color: #fff;
  border: #3d3d3d 2px solid;
  display: inline-block;
  border-radius: 40px;
  padding: 4px 15px;
  margin: 70px 0 0 30px;
}
.buttons:hover {
  background: white;
  color: #121212;
}
.container3 {
  text-align: center;
  padding: 40px 0;
  background-color: #121212;
}
.fab {
  margin: 0 10px;
}
.brand {
  margin-top: 20px;
  color: #fff;
  font-family: "Roboto", sans-serif;
}

